{% extends 'base.html' %}
{% block title %}Krishna Coahing Classes{% endblock %}

{% block main %}

<div class="container my-2">
    <form class="form-horizontal my-2" method="POST" action="contact" class="form02">
        {% csrf_token %}
        <h2 class="h02">ContactUs: </h2>
    
        {% for field in form %}
        <div>
            <label class={{field.id_for_label}} for="{{field.id_for_label}}">{{field.name.label}}</label>
            {{field.name}} : {{field}}
    
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
    
            {% endfor %}
        </div>
        {% endfor %}
        <button class="btn btn-sm btn-primary my-2" type="submit">Submit</button>
    </form>
</div>

{% endblock %}

{% block js %} 

<script>
    document.getElementsByClassName("id_name").innerText = "Full Name"
</script>

{% endblock %}